.DivPrincipal {
    .suhsih1 {
        color: aliceblue;
        font-family: emoji;
        font-size: 60px;
    }

    z-index: 1000;
    position: absolute;
    width: 100%;

    .navNavegacion {
        display: flex;
        justify-content: space-between;
        background-color: black;
        height: 35px;

        .navNavegacion_title {
            text-decoration: none;
            margin-left: 100px;
            color: azure;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: medium;
        }

        .navNavegacion_Ulprins {
            display: flex;
            list-style: none;

            .navNavegacio__LIprins {
                margin-right: 50px;
            }

        }

    }

}

.sectionmain {

    height: 620px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: auto;

    .sectionmain__Divsec {
        height: 450px;
        display: flex;
        align-items: center;

        // background-image: url(../image/pexels-polina-tankilevitch-4725637.jpg);
        // background-position: right;
        // background-repeat: no-repeat;
        // background-size: cover;

        // opacity: 0.8;

    }

    .sectionmain__TiTle {
        border: groove 1px;
        border-radius: 2%;
        background-color:#f3f3f333;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        width: 350px;
        margin: 50px;

        .sectionmain__img22 {
            border-radius: 50%;
            width: 200px;
        }

        .sectionmain__titleh4 {

            padding: 10px;
        }

    }


}

.div_wasap {

    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    margin-top: 10px;
    position: sticky;
    top: 0;
}

.sectionnosotros {
    margin-top: -20px;
    display: flex;
    height: 600px;



    .sectionnosotros_ImgNootros {

        margin-left: 50px;
    }

    .sectionnosotros_Productos {
        border-radius: 2%;
        background-color: #f3f3f333;
        
        margin-left: 50px;
        width: 500px;
        padding: 20px;
        height: 600px;
    }
}

.fotdiv {
    background-color: black;
    height: 200px;

    .fotdiv__ulfoot {
        border-right: solid 1px wheat;
        list-style: none;

        .fotdiv__lista {
            margin-top: 10px;
        }

        .fotdiv__Navega {
            text-decoration: none;
            color: aliceblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            // margin-top: 20px;

        }

    }

    .fotdiv__ulfootredes {
        margin-top: 40px;
        list-style: none;
        display: flex;

        .navNavegacio__LIprins {
            margin: 15px;
        }

    }

    .select_name {
        margin: 10px;
    }

}

.divifram {
    background-color: black;
    display: flex;
    justify-content: center;
}